@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@font-face {
  font-family: "coc";
  src: url('./fonts/supercell.ttf');
}

/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
:root {
  --col-white: #e8e8e0;
  --col-gray: #c4c4c4;
  --id-gray: #f2f2f2;
  --id-blue: #041c4e;
  --id-blue-ltz: #4eacd9;
  --col-blue-1:#041c4e;
  --col-blue-3:#a6cbe4;
  --col-gray-light: #c4c4c4;
  --col-gray-active: #918980;
  --col-bg-black:#030303;
  --col-bg-gray:#444440;
  --col-bg-gray-0:#4f4d48;
  --col-bg-gray-1:#706c50;
  --col-bg-gray-2:#b2ac86;
  --col-bg-gray-3:#8f8b6c;
  --col-disable: #cecece;
  --col-red-0: #db1115;
  --col-red-1: #ac3d3d;
  --col-red-2: #fe767c;
  --col-purple-0: #4e538e;
  --col-purple-1: #4e538d;
  --col-purple-2: #6b7899;
  --col-purole-3:#688090;
  --col-green-dark: #3c5b56;
  --btn-green: #ddf783;
  --col-green-0:#6cd006;
  --btn-green-lts: #6dbc1f;
  --col-green-light: #a3c469;
  --col-orange-0:#c55115;
  --col-orange-1:#fda622;
  --col-orange-2:#ca4714;
}
body {
  background: var(--col-white);
}
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--col-purple-0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--col-blue-1);
  border-radius: 20px;
}


ul{
  list-style-position: inside;
  list-style-type: none;
  display: block;
  width: 100%;
}

main{
  min-height: 100vh;
}

.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.coc-green {
  text-align: left;
  font-family: coc;
  color: var(--id-blue-ltz);
}
.coc-btn {
  display: block;
  font-family: coc;
  background: linear-gradient(180deg, var(--btn-green), var(--btn-green-lts));
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 8px;
  color: #fff;
  text-shadow: 0px -2px 1px #000;
  border: 2px solid var(--btn-green);
  outline: none;
  margin: 10px auto;
}
.coc-btn:focus {
  transition-duration: 0.2s;
  box-shadow: 0 0 0px 4px var(--btn-green-lts);
  background: linear-gradient(180deg, var(--btn-green-lts), var(--btn-green));
  text-shadow: 0px 2px 1px #000;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 0 auto;
    font-size: 0.85em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
    font-size: 0.9em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
