/* Lebel Start */
.lable-section {
  background: #5699f0;
  margin-top: 0px;
  height: auto;
}
.section-title {
  text-align: center;
  padding: 10px 10px;
  font-size: 2.1em;
  border-bottom: 1px solid var(--col-gray);
  margin: 10px auto;
  font-weight: bold;
}
.label--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.label--cards_card {
  min-width: 150px;
  min-height: 150px;
  margin: 10px 0;
  border-radius: 17px;
  position: relative;
  background: #fff;
}
.label--cards_card-img {
  width: 100%;
  position: absolute;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: all;
}
.label--cards_card:hover .label--cards_card-img {
  z-index: 100;
  top: -50%;
  transform: scale(0.5);
}
.label--cards_card-img img {
  width: 100%;
  display: block;
}
.label--cards_card-body {
  min-width: 100px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}
.label--cards_card-body p{
  display: block;
  max-width: 80px;
}
.label--cards_card-body p::first-letter {
  color: red;
}
/* Lebel End
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
} */
