.img {
  max-width: 30px;
}
.league-title {
  padding: 10px;
  font-family: coc;
  background: linear-gradient(#ad5b45, #993318);
  text-align: center;
  color: #fff;
  border-radius: 5px;
}
.warleague {
  padding: 10px 0;
  background: #3e2b27;
}

.warleague--nav{
  background: #fff;
  display: block;
}
.warleague--nav ul{
  width: 50%;
  padding: 10px 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.warleague--nav ul li{
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  background: #eeeeee;
  font-size: 1.01rem;
}
.warleague--nav ul li:hover{
  background: #ddd;
  transition-duration: 0.2s;
}
.warleague--nav ul li.active{
  transition-duration: 0.2s;
  background: var(--col-green-0);
  color: #ffffff;
}
.warleague--tab{
  background: #fff;
  padding: 5px;
  border-radius: 0 0 10px 10px;
}
.warleague--tab > .hide{
  height: 0;
  overflow: hidden;
}
.warleague--tab > .active{
  height: auto;
}
.warleague--tab .warleague--point > div{
  background: #3e2b27;
  border: 5px solid #3e2b27;
}
.warleague--teams {
  /* background: #3e2b27; */
  /* padding: 10px 5px; */
  border-radius: 5px;
}
.warleague--teams_team {
  margin: 10px auto;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(#8b6663 30%, #744644 70%);
  align-items: center;
  border-radius: 0.5rem;
  color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 0px 4px #000;
  position: relative;
}
.warleague--teams .ourclan {
  background: linear-gradient(#667999 30%, #465d87 70%);
}
.warleague--teams_team .team-position {
  width: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.warleague--teams_team .team-position .team-position-indicator {
  font-size: 2rem;
  color: var(--col-green-0);
}
.team-position .down {
  color: red !important;
}
.warleague--teams_team .team-position .team-position-index {
  font-size: 1.1rem;
  font-family: coc;
}
.warleague--teams_team .team-badge {
  max-width: 65px;
}
.warleague--teams_team .team-badge img {
  display: block;
  width: 100%;
}
.warleague--teams_team .team-name {
  display: flex;
  flex: 60%;
  max-width: 500px;
  height: 100%;
  flex-direction: column;
}
.warleague--teams_team .team-name b {
  font-family: coc;
  font-size: 1.1rem;
}

.warleague--teams_team .team-stars {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b1a;
  border-radius: 5px;
  padding: 5px;
}
.warleague--teams_team .team-stars img {
  display: block;
  width: 25px;
}

.warleague--teams_team .team-distroy {
  width: 60px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #1d1b1a;
  border-radius: 5px;
  margin: 0 10px;
}

.warleague--teams_team .team-morebtn {
  padding: 0.25rem 0.5rem;
  margin: 0 10px;
  border: 2px solid #288cca;
  border-radius: 5px;
  font-size: 1.1rem;
  background: linear-gradient(#86c2e6, #288cca);
}
.warleague--teams_team .team-details{
  position: absolute;
  right: 0;
  bottom: -80px;
  padding: 0.3rem 0.5rem;
  z-index: 1;
  border-radius: 5px;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
}
.warleague--teams_team .team-details::before{
  content: "";
  display: block;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
  background: transparent;
  top: -10px;
  right: 15px;
  position: absolute;
}
.warleague--teams_team .team-details a,.warleague--teams_team .team-details button{
  font-family: coc;
  background: var(--col-green-0);
  padding: 0.3rem;
  margin-top: 5px;
  color: #fff;
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
  text-shadow: 0px 3px #000;
}
@media only screen and (max-width: 600px) {
  .warleague--teams_team .team-morebtn {
    display: none;
  }
}
.warleague--rounds {
  margin-top: 10px;
}
.warleague--rounds_round-teams {
  display: flex;
  border: 3px solid #fff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 5px 0;
  cursor: pointer;
}
.warleague--rounds_round-teams::-webkit-scrollbar {
  display: none;
  background: red;
}
.warleague--rounds_round-teams .team1,
.warleague--rounds_round-teams .team2 {
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-row: auto;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .warleague--rounds_round-teams .team1 *,
  .warleague--rounds_round-teams .team2 * {
    overflow: hidden;
  }
  .warleague--rounds_round-teams .team1,
  .warleague--rounds_round-teams .team2 {
    grid-template-columns: 80px auto;
    grid-template-rows: auto;
  }
}

.warleague--rounds_round-teams .team1 .team-badge-name,
.warleague--rounds_round-teams .team2 .team-badge-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.warleague--rounds_round-teams .team1 .team-badge img,
.warleague--rounds_round-teams .team2 .team-badge img {
  max-width: 60px;
}
.warleague--rounds_round-teams .team1 .team-name,
.warleague--rounds_round-teams .team2 .team-name {
  font-family: coc;
  font-size: 1rem;
}
.warleague--rounds_round-teams .team1 .team-score,
.warleague--rounds_round-teams .team2 .team-score {
  width: 70px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  background: #1d1b1a;
  margin: 0 auto;
}
.warleague--rounds_round-teams .preparation {
  background: linear-gradient(#5c8ca1 50%, #0b5a81 50%);
  color: #fff;
}
.warleague--rounds_round-teams .inWar {
  background: linear-gradient(#e5894a 50%, #e45a00 50%);
  color: #fff;
}
.warleague--rounds_round-teams .win {
  background: linear-gradient(#84b286 50%, #4e9555 50%);
  color: #fff;
}
.warleague--rounds_round-teams .loss {
  background: linear-gradient(#cb786e 50%, #c2574c 50%);
  color: #fff;
}

.wardetails {
  background: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-column-gap: 5px;
}
@media only screen and (max-width: 600px) {
  .wardetails {
    grid-template-columns: 100%;
  grid-template-rows: auto auto;
  }
}
.wardetails .team1 .name,
.wardetails .team2 .name {
  text-align: center;
  background: #3c096c;
  color: #fff;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.wardetails .members {
  width: 100%;
  background: red;
  border-collapse: collapse;
  font-size: 1.01rem;
  margin: 10px auto;
}
.members thead tr th{
  background: #3a0ca3;
  color: #fff;
  padding: 0.5rem;
  border: 1px solid #e9ecef;
  font-weight: bold;
}
.wardetails .members tbody tr td{
  padding: 0.5rem;
  border: 1px solid #e9ecef;
}
.members tbody tr:nth-child(even){
  background: #4cc9f0;
  color: #fff;
}
.members tbody tr:nth-child(odd){
  background: #f72585;
  color: #fff;
}
.members tbody tr td:nth-child(2){
  text-align: center;
}
.wardetails .members tbody tr.remain{
  background: #2a9d8f;
  color: #fff;
}
.wardetails .members tbody tr.used{
  background: #e76f51;
  color: #fff;
}
